@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Exo+2:wght@500&family=Inter:wght@600&family=Libre+Baskerville&family=Playfair+Display:wght@400;600&family=Poor+Story&family=Poppins:wght@300;400;500;600&family=Protest+Revolution&family=Roboto+Serif:opsz@8..144&display=swap');

*{
    font-family: 'Protest Revolution', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 5rem;
    color: rgb(164, 155, 57);
    text-align: center;
    margin-top: 2rem;
}
div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
button {
    margin: 2rem;
    height: 55px;
    width: 180px;
    font-size: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: rgb(230, 202, 170);
    color: black;
    cursor: pointer;
}
button:active {
   background-color: rgb(230, 107, 74);
   color: black;
}
footer {
    text-align: center;
    margin-top: 3rem;
}
